.parent {
    font: size 40px;
    background-color: lightcoral;
    padding: 10px;
}

.child-one {
    position: absolute;
    top: 0;
    right: 0;
    background-color: lightcoral;
}

.child-two {
    background-color: lightblue;
}

.child-three {
    background-color: lightseagreen;
}

.wrapper{
    padding: 30px;
}

img {
    margin-right: 10px;
    float: left;
}