
.user-profile {
    margin: 10px;
    box-sizing: border-box;
    
    
}



.name {
   background-color: gray; 
   font-size: 40px;
   color: black;
   
}

.location {
    color: lightgray;
    font-size: 20px
}

.avatar {
margin-right: 10px;
margin-top: 10px;
position: absolute;
top: 0px;
right: 0px;
width: 100px;
height: 100px;
}

.headline {
    background-color: gray;
    padding: 25px;
    color: gray;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-top: 30px;
    border: 2px solid;
    border-color: black;
}


.content {
    overflow: auto;
    margin-top: 300px;
    box-sizing: border-box;
    
}

.left {
 float: left;  
 width: 47%; 
}

.right {
    float: right;
    width: 47%;
}
