.parent {
    font-size: 40px;
    background-color: lightgreen;
    padding: 10px;
  }
  
  .child-one {
    background-color: lightcoral;
  }
  
  .child-two {
    background-color: lightblue;
  }
  
  .child-three {
    background-color: lightseagreen;
  }
  
  /* .wrapper {
    padding: 30px;
  }
  
  img {
    float: left;
    margin-right: 10px;
  }
  
  .clear {
    clear: left;
  }
   */
  