/* Specificity:
- Selector: inline styles --> id's --> class --> tags
- Stylesheet: inline styles --> external stylesheet
  unless they are included before the external stylesheet in the HTML
  HTML is parsed from top to bottom, so the bottom most styles will be applied if they conflict
*/

body {
    background-color: blue;
  }
  
  h1 {
    color: red;
  }
  
  .my-header {
    color: blue;
  }
  
  #my-header {
    color: green;
  }
  
  #inline-style {
    color: orange;
  }