.app {
    display: grid;
    grid-template-columns: 250px auto 250px;
    grid-template-rows: auto 1fr auto;
    height: 100%;  
}

header {
    grid-row: 1;
    grid-column: 1/4;
    background-color: yellowgreen;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

footer {
    grid-row: 3;
    grid-column: 1/4;
    background-color: yellowgreen;
    font-size: 20px;
    text-align: center;
    padding: 10px;    
}

.left-nav {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;
    background-color: lightpink;
}

.content {
    grid-row: 2;
    grid-column: 2;
}


.adverts {
grid-row: 2;
grid-column: 3;
position: relative;
background-color: lightslategrey;
}

.adverts .text {
    width: 500px;
    top: 50%;
    right: -50%;
    position: absolute;
    transform: rotate(90deg);
    font-size: 30px;
}

.left-nav a.active {
    border: 2px solid gold
}

.content section:not(active) {
    display: none;
}

.left-nav a {
    display: flex;
    font-size: 20px;
    color: black; 
    text-decoration: none;
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
    background-color: hotpink;
}


